---

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';

const achievements_g10 = [
	"Grade 10 - 1st Quarter with Honors",
	"Grade 10 - 2nd and 4th Quarter with High Honors",
	"Grade 10 - 1st to 4th Quarter Conduct Award"
];

const achievements_g11_g12 = [
  "Grade 11 - 1st - 3rd Quarter Classroom Top #1 with High Honors",
  "Grade 11 - Subject Proficiency in Emerging Trends and Technologies in Programming & Programming Languages 1",
  "Grade 11 - Subject Proficiency in Programming Languages 1",
  "Grade 11 - Best VFX Award in CIIT Senior Highschool Video Campaign",
  "Grade 12 - 1st - 3rd Quarter Classroom Top #1 with High Honors",
  "Grade 12 - Subject Proficiency in Introduction to IOT & Industry Readiness",
  "Grade 12 - CIIT Values Award in Passion - Programming"
];

---

<Layout title="XianShizukana Portfolio">
	<!-- HERO -->
	<section class="bg-[url(/hero-img.png)] bg-cover bg-position-[0%_30%] min-h-screen h-full w-full flex lg:flex-row flex-col justify-center items-center">
		<div class="text-center bg-white w-full py-5 shadow-2xl">
			<h1 class="text-5xl lg:text-9xl text-pink-800 font-extrabold">Xian Shizukana</h1>
			<p class="text-lg lg:text-4xl text-pink-400 font-bold">Aspiring AI Developer / Cloud Engineer</p>
		</div>
	</section>

	<!-- CAREER SUMMARY -->
	<section class="w-full bg-pink-100 px-12 lg:px-64 py-12 flex flex-col" id="about">
		<div class="flex flex-row mb-4 ">
			<article class="bg-pink-900 flex-2 p-12 flex justify-center items-center shadow-lg">
				<p class="lg:text-2xl font-mono font-bold text-pink-50 text-justify">I build small, static websites using HTML, CSS, Tailwind, and Astro. Currently building a Linux desktop application using PyQt and Python, focusing on function rather than aesthetic. Published five games in itch.io utilizing Ren'Py and Godot. Aiming to move into AI and Cloud Development. </p>
			</article>
			<div class="bg-pink-300 hidden xl:flex lg:flex-1 font-mono text-justify shadow-lg">
				<img src="/about-img.jpg" class="h-full w-full object-cover">
			</div>
		</div>
	</section>

	<!-- EDUCATION -->
	<section class="w-full p-4 xl:px-40 xl:py-12 grid grid-cols-2 xl:grid-cols-3 gap-4 ">
	 	<Card title="Manila Cathedral School", bullets={achievements_g10}, image="/mcs-img.jpg", date="2013-2023", isBulleted={true} />
	 	<Card title="CIIT Senior High School", bullets={achievements_g11_g12}, image="/cshs-img.jpg" date="2023-2025", isBulleted={true} />
	 	<Card title="CIIT College of Innovation and Integrated Technology", bullets={["Interweave Scholar"]}, image="/ccollege.png", date="2025-Present", isBulleted={true} />
	</section>
</Layout>
